body{
background-size: cover;
background-repeat: no-repeat;}

#contenitore{background-color:rgba(12, 12, 12, 0.5);
            color: antiquewhite;
             width: 60%;
             margin: 100px auto;
             padding-left: 200px;
             padding-right: 200px;
            padding-bottom: 200px;}

.testata{padding-left:950px ;
         padding-top: 250px;}

#logo{width: 600px;}

h1{color: lime;
font-size: 70px;
text-align: center;
margin: 0;
padding: 0;}

nav{background-color: lime;
    height: 100px;
    text-align: center;}
nav :first-child {width: 120px;}

nav :nth-child(2) {width: 250px;}

input{margin-top: 20px;
     width: 170px;
     height: 30px;
     font-size: 26px;
     font-weight: bold;
     text-align: center;}
    
#scelta {width: 50px;}

.monopattino{display:inline-block;
             font-size: 70px;
             margin-bottom: 0px;
             margin-top: 50px;}

.via        {font-size: 50px;
            margin-bottom: 0px;
            margin-top: 0px;}
                
                
#statocarica{font-size: 50px;
            margin-bottom: 0px;
        margin-top: 0px;}

#box        {background-color:orange;
             width: 900px;
             height: 50px;
            border-radius: 10px;}
             
#box2       {background-color:lime;
             width: 1200px;
            height: 50px;
            border-radius: 10px;}
            
#box3        {background-color:red;
             width: 300px;
              height: 50px;
             border-radius: 10px;}


